In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
data =pd.read_csv("C:\\Users\\hp\\Downloads\\excelr_ds_files\\ASSIGN\\EDA2\\adult_with_headers.csv",index_col=0)

In [3]:
data.head()

,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
age,,,,,,,,,,,,,,
39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data1=data.copy()

In [5]:
labelencoder = LabelEncoder()
data1.iloc[:, -1] = labelencoder.fit_transform(data1.iloc[:,-1])

In [6]:
data1

,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
age,,,,,,,,,,,,,,
39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0
52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
data2=pd.read_csv("C:\\Users\\hp\\Downloads\\excelr_ds_files\\ASSIGN\\EDA2\\adult_with_headers.csv",index_col=0)

In [10]:
data2

,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
age,,,,,,,,,,,,,,
39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

In [12]:
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(data2[['income']]).toarray())

In [13]:
enc_df

         0    1
0      1.0  0.0
1      1.0  0.0
2      1.0  0.0
3      1.0  0.0
4      1.0  0.0
...    ...  ...
32556  1.0  0.0
32557  0.0  1.0
32558  1.0  0.0
32559  1.0  0.0
32560  0.0  1.0

[32561 rows x 2 columns]

In [14]:
# merge with main df
data_final = data2.iloc[:,0:4].join(enc_df)
data_final

       workclass  fnlwgt education  education_num    0    1
17             ?  304873      10th              6  1.0  0.0
17       Private   65368      11th              7  1.0  0.0
17       Private  245918      11th              7  1.0  0.0
17       Private  191260       9th              5  1.0  0.0
17       Private  270942   5th-6th              3  1.0  0.0
..           ...     ...       ...            ...  ...  ...
90   Federal-gov  195433   HS-grad              9  1.0  0.0
90       Private   47929   HS-grad              9  1.0  0.0
90             ?  313986   HS-grad              9  1.0  0.0
90       Private  313749   HS-grad              9  1.0  0.0
90     Local-gov  214594   7th-8th              4  1.0  0.0

[32561 rows x 6 columns]

In [15]:
import pandas as pd

In [17]:
data3 =pd.read_csv("C:\\Users\\hp\\Downloads\\excelr_ds_files\\ASSIGN\\EDA2\\adult_with_headers.csv",index_col=0)

In [18]:
data_encoded=pd.get_dummies(data3)

In [19]:
data_encoded

,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,income_ <=50K,income_ >50K
age,,,,,,,,,,,,,,,,,,,,,
39,77516,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
50,83311,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
38,215646,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
53,234721,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
28,338409,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,257302,12,0,0,38,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
40,154374,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
58,151910,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
22,201490,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
52,287927,9,15024,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [20]:
from sklearn.ensemble import IsolationForest

In [22]:
data =pd.read_csv("C:\\Users\\hp\\Downloads\\excelr_ds_files\\ASSIGN\\EDA2\\adult_with_headers.csv",index_col=0)
data_encoded=pd.get_dummies(data)

In [23]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)

IsolationForest(contamination=0.01, random_state=10)

In [24]:
# predictions
y_pred_outliers = clf.predict(data_encoded)

In [25]:
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([1, 1, 1, ..., 1, 1, 1])

In [26]:
data_encoded

,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,income_ <=50K,income_ >50K
age,,,,,,,,,,,,,,,,,,,,,
39,77516,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
50,83311,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
38,215646,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
53,234721,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
28,338409,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,257302,12,0,0,38,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
40,154374,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
58,151910,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
22,201490,9,0,0,20,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
52,287927,9,15024,0,40,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [27]:
import pandas as pd
from sklearn.ensemble import IsolationForest

# Impute missing values with the mean of each column
# Alternatively, you could use other imputation strategies like median or a constant value
# or drop rows with missing values using data_encoded.dropna()
data_encoded = data_encoded.fillna(data_encoded.mean())

# training the model
clf = IsolationForest(random_state=10, contamination=.01)
clf.fit(data_encoded)

# predictions
y_pred_outliers = clf.predict(data_encoded)

y_pred_outliers

array([1, 1, 1, ..., 1, 1, 1])

In [28]:
categorical_cols = data.select_dtypes(include=['object']).columns
category_counts = {col: data[col].nunique() for col in categorical_cols}

In [29]:
onehot_cols = [col for col, count in category_counts.items() if count < 5]
data_encoded = pd.get_dummies(data, columns=onehot_cols, prefix=onehot_cols)

In [30]:
label_cols = [col for col, count in category_counts.items() if count >= 5]
for col in label_cols:
    le = LabelEncoder()
    data_encoded[col] = le.fit_transform(data_encoded[col])

In [31]:
# Combined Education and Occupation
data_encoded['education_occupation'] = data_encoded['education'].astype(str) + '_' + data_encoded['occupation'].astype(str)

# Hours Worked Per Week Category


# Print the available columns to identify the correct column name
print(data_encoded.columns)

# Assuming the column name is actually 'hours_per_week' (replace if different)
data_encoded['hours_worked_category'] = pd.cut(data_encoded['hours_per_week'], bins=[0, 30, 40, float('inf')], labels=['part-time', 'full-time', 'overtime'])

Index(['workclass', 'fnlwgt', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'capital_gain', 'capital_loss',
       'hours_per_week', 'native_country', 'sex_ Female', 'sex_ Male',
       'income_ <=50K', 'income_ >50K', 'education_occupation'],
      dtype='object')

In [32]:
import numpy as np # Import the numpy library and assign it the alias 'np'

# Check if 'capital-gain' is in the columns
if 'capital-gain' in data_encoded.columns:
    data_encoded['capital-gain'] = np.log1p(data_encoded['capital-gain'])
else:
    print("Warning: 'capital-gain' column not found in data_encoded.")

# Check if 'capital-loss' is in the columns
if 'capital-loss' in data_encoded.columns:
    data_encoded['capital-loss'] = np.log1p(data_encoded['capital-loss'])
else:
    print("Warning: 'capital-loss' column not found in data_encoded.")

Warning: 'capital-gain' column not found in data_encoded.
Warning: 'capital-loss' column not found in data_encoded.

In [33]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.ensemble import IsolationForest
import numpy as np

# List of categorical columns to encode
categorical_cols = data_encoded.select_dtypes(include=['object', 'category']).columns

# Create a OneHotEncoder instance
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')  # sparse=False for dense output

# Fit and transform the categorical features
encoded_data = encoder.fit_transform(data_encoded[categorical_cols])

# Create a new DataFrame with the encoded features
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols), index=data_encoded.index) # Use original index

# Concatenate the encoded features with the numerical features
# Drop the original categorical columns
numerical_data = data_encoded.drop(columns=categorical_cols)

# Reset index before concatenating to ensure unique index values
numerical_data = numerical_data.reset_index(drop=True)
encoded_df = encoded_df.reset_index(drop=True)

final_data = pd.concat([numerical_data, encoded_df], axis=1)

# Now, use final_data for IsolationForest
clf = IsolationForest(random_state=10, contamination=0.01)
clf.fit(final_data)
y_pred_outliers = clf.predict(final_data)

# Identify outlier indices
outlier_indices = data_encoded[y_pred_outliers == -1].index

In [34]:
# Remove outliers from the dataset
data_no_outliers = data_encoded.drop(outlier_indices)

In [35]:
!pip install ppscore==1.3.0

Collecting ppscore==1.3.0
  Downloading ppscore-1.3.0.tar.gz (17 kB)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from ppscore==1.3.0) (1.4.2)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\hp\anaconda3\lib\site-packages (from ppscore==1.3.0) (1.5.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore==1.3.0) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore==1.3.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore==1.3.0) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore==1.3.0) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore==1.3.0) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore==1.3.0) (3.5.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore==1.3.0) (1.7.3)
Building wheels for collected packages: ppscore
  Building wheel for ppscore (setup.py): started
  Building wheel for ppscore (setup.py): finished with status 'done'
  Created wheel for ppscore: filename=ppscore-1.3.0-py2.py3-none-any.whl size=13167 sha256=0dee4402e678f88c4187efa7bccb2f11b6e215bf5909431e2b3170aec63abe2a
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\d8\2d\fc\c1699298a1241684a460b125835f7871ee8e3ab3afea9b5d6f
Successfully built ppscore
Installing collected packages: ppscore
Successfully installed ppscore-1.3.0

In [36]:
import ppscore as pps

# Calculate the PPS matrix
pps_matrix = pps.matrix(data_no_outliers)

# Display the matrix
print(pps_matrix)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(
C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(

                         x                      y  ppscore            case  \
0                workclass              workclass      1.0  predict_itself
1                workclass                 fnlwgt      0.0      regression
2                workclass              education      0.0      regression
3                workclass          education_num      0.0      regression
4                workclass         marital_status      0.0      regression
..                     ...                    ...      ...             ...
319  hours_worked_category              sex_ Male      0.0      regression
320  hours_worked_category          income_ <=50K      0.0      regression
321  hours_worked_category           income_ >50K      0.0      regression
322  hours_worked_category   education_occupation      0.0  classification
323  hours_worked_category  hours_worked_category      1.0  predict_itself

     is_valid_score               metric  baseline_score   model_score  \
0              True                 None        0.000000      1.000000
1              True  mean absolute error    78373.629148  79028.689733
2              True  mean absolute error        4.126906      4.372809
3              True  mean absolute error        1.741704      1.757145
4              True  mean absolute error        0.523767      0.731343
..              ...                  ...             ...           ...
319            True  mean absolute error        0.421973      0.469647
320            True  mean absolute error        0.041704      0.077331
321            True  mean absolute error        0.041704      0.077331
322            True          weighted F1        0.018834      0.009301
323            True                 None        0.000000      1.000000

                        model
0                        None
1     DecisionTreeRegressor()
2     DecisionTreeRegressor()
3     DecisionTreeRegressor()
4     DecisionTreeRegressor()
..                        ...
319   DecisionTreeRegressor()
320   DecisionTreeRegressor()
321   DecisionTreeRegressor()
322  DecisionTreeClassifier()
323                      None

[324 rows x 9 columns]

C:\Users\hp\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(